<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style') }}">
</head>
<body>
    <div class="container">
   <h1>Counter Assignment</h1>
   <h3>You have visited this page {{session['x']}} times</h3>
    <form action="/reset"  method="post">
        <button type="submit" name='submit'> Press to Reset</button>
    </form>
    <form action="/addby2"  method="post">
        <button type="submit" name='increase'>press to increase by 2</button>
    </form>
</div>
</body>
</html>